input, h1, h2, h3, h4, textarea, .popover {
  font-family: 'Economica', sans-serif;
}
  h1, h2, h3, h4 {
  text-shadow: 2px 2px 6px rgba(150,150,150,0.5);
}
  input, textarea, .popover {
  font-size: 18px !important;
}
  footer {
  font-family: 'The Girl Next Door', cursive;
}
